<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <link rel="stylesheet" th:href="@{/css/styles.css}">

    <a th:href="@{/}">
        <img class="homeButton" th:src="@{/logos/logo.PNG}">
    </a>

</head>

<body class="App">
<div class="container text-center">
    <div>
        <form th:action="@{/logout}" method="post">
            <p>
                Welcome <b>[[${#request.userPrincipal.principal.username}]]</b>
            </p>
            <input type="submit" value="Sign Out" />
        </form>
    </div>

    <form class="col s12" method="post" th:object="${newpost}" th:action="@{/post/new}">
        <div class="row">
            <div class="input-field col s8">
                <input id="postTitle" placeholder="Place amazing title here..." class="materialize-textarea" th:field="*{title}"></input>
                <label for="postTitle"></label>
            </div>
            <div class="input-field col s8">
                <textarea id="postBody" placeholder="Share your thoughts..." class="materialize-textarea" th:field="*{textBody}"></textarea>
                <label for="postBody"></label>
            </div>
            <button type="submit" name="action">Post
                <i class="material-icons right"></i>
            </button>

        </div>
    </form>

    <div class="card" th:each="post : ${posts}">
        <div class="container">
            <form class="col s12" method="post" th:object="${postdelete}"
                th:action="@{/post/delete/{id}(id=${post.getPostId()})}">
                <p><b th:text="${post.getUser().getUserName()}"></b></p>
                <p><b th:text="${post.getTitle()}"></b></p>
                <p><b th:text="${post.getTextBody()}"></b></p>
                <p><b th:text="${post.getCreatedAt()}"></b></p>
                <button type="submit" name="action">Delete
                    <i class="material-icons right"></i>
                </button>
                <br>
            </form>
        </div>
    </div>

    <form class="col s12" method="friendship" th:object="${newFriendRequest}" th:action="@{/friendship/request}">
        <div class="row">
            <div class="input-field col s8">
                <input id="newFriendship" placeholder="Add a friend..." class="materialize-textarea" name="username"></input>
                <label for="newFriendship"></label>
            </div>
            <button type="submit" name="action">Add
                <i class="material-icons right"></i>
            </button>
        </div>
    </form>
    <div class="friend">
        <p><b>Friends:</b></p>
        <div th:each="friend : ${friends}">
            <p><b th:text="${friend.getUserName()}"></b></p>
            <br>
        </div>

        <p>Requests:</p>
        <div th:each="friend : ${friendRequests}">
            <form method="friendship" th:object="${acceptFriendRequest}" th:action="@{/friendship/accept/{username}(username=${friend.getUserName()})}">
                <p><b th:text="${friend.getUserName()}" ></b></p>
                <input type="submit" value="Accept" name="usernameAccept">
                <br> 
            </form>
        </div> 
    </div>
</div>
</body>
</html>